<h1>Productos</h1>

<div class="container mt-3" id="IdProducto">
    
<h1>Producto</h1>

<div id="idprod">
        <div class="container">
            <div class="row align-items-start">
                <dt class="col">Codigo</dt>
                <dt class="col">Stock</dt>
                <dt class="col">Descripcion</dt>
            </div>

            <div class="row">
            <div class="col"> {{producto.code}}</div>
            <div class="col"> {{producto.stock}}</div>
            <div class="col">{{producto.description}}</div>
            </div>
      
        </div>
</div>
<div>Fin de despliegue producto encontrado</div>
</div>


