<h1>Restablecer contraseña</h1>

<form action="/api/sessions/forget-password" method="post">
Email:<input type="text" name="email">
<input type="submit" value="restablecer">
</form>
<a href="/">Login</a>| <a href="/register">Registro</a>