<h1 style ="color:blue">Ingrese Login</h1>



<form method="POST" action="/user/registra">

    <div class="table table-striped">
        <label for="login">Login</label>
        <input id="login" class="form-control" type="text" name="login" value="admin@coderhouse.com">
    </div>
     <div class="table table-striped">
        <label for="password">Password</label>
        <input id="password" class="form-control" type="password" name="password">
    </div>
    
    <button class="btn btn-primary" id="btn" >Login</button>
</form>

<button  class="btn btn-primary" id="logout" value="Logout">Logout</button>

<script>

/*
 document.getElementById('btn').onclick = async e=>{
    
 const login= document.getElementById('login').value

 
console.log(login)
 /*const result =  await fetch(`./registra/?login=${login}`) 
 const response= await result.json()
 console.log(response)*/
 /* fetch(`./registra/?login=${login}`,{method:'get'})
        .then (result => {
               return result
        })
        .then(result => (fetch(`api/products/`,{method:'post'})) )
        
       
 };
 */
 
document.getElementById('logout').onclick =async e=>{

 const result = await fetch('/logout')
 const response= await result.json()
 console.log(response)
 };

</script>