<h1>Restablecer contraseña</h1>

<form action="/api/sessions/new-password" method="post">
Nueva Contraseña:<input type="text" name="email">
<input type="submit" value="Cambiar">
</form>
<a href="/">Login</a>| <a href="/register">Registro</a>