<!---formulario carrito --->

<h1 style ="color:blue">Ingrese Productos a carrito</h1>

<form id="form1">
    <div class="form-group">
        <label for="idCliente">Cliente</label>
        <input id="idCliente" class="form-control" type="text" name="idCliente">
    </div>
    <button class="btn btn-warning" id="btn" type="submit">Agregar</button>
</form>
