<!---formulario producto --->

<h1 style ="color:blue">Ingrese Productos a carrito</h1>

<form id="form1">

    <div class="form-group">
        <label for="codigo">Cliente</label>
        <input id="codigo" class="form-control" type="text" name="codigo">
    </div>
    <div class="form-group">
        <label for="description">Producto</label>
        <input id="producto" class="form-control" type="text" name="description">
    </div>
    <div class="form-group">
        <label for="description">Cantidad</label>
        <input id="cantidad" class="form-control" type="text" name="description">
    </div>
    <button class="btn btn-warning" id="btn" type="submit">Agregar</button>
</form>
<h2>Borrado producto</h2>
<form id="form2">

    <div class="form-group">
        <label for="codigo">Codigo</label>
        <input id="codigodel" class="form-control" type="text" name="codigodel">
    </div>
    <button class="btn btn-warning" id="btn1" type="submit">Borrar</button>
</form>