<!---formulario producto --->

<h1>Producto</h1>

<div id="ProductosSearch">
        <div class="container">
            <div class="row align-items-start">
                <dt class="col">Id-</dt>
                <dt class="col">Codigo</dt>
                <dt class="col">Stock</dt>
                <dt class="col">Descripcion</dt>
                </div>
                {{#each producto}}
        <div class="row">
     <div class="col"> {{this._id}}</div>       
    <div class="col"> {{this.code}}</div>
    <div class="col"> {{this.stock}}</div>
    <div class="col">{{this.description}}</div>
    </div>
    {{/each}}
</div>
   
